* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}


/* on screens larger than X */
@media screen and (min-width: 1268px) {
	#carousel {
		width: 50%;
	}
}

#carousel {
	margin: 0 auto;
}

.carousel-image {
	margin: auto auto 128px auto;
}

