 /* Styles valid for all pages */
 @font-face {
     font-family: Roddenberry;
     src: url("../fonts/Roddenberry.otf");
 }

 @font-face {
     font-family: Roddenberry;
     src: url("../fonts/Roddenberry-bold.otf");
     font-weight: bold !important;
 }

 @font-face {
     font-family: Roddenberry;
     src: url("../fonts/Roddenberry-italic.otf");
     font-style: lighter;
 }
 @font-face {
    font-family: Roddenberry;
    src: url("../fonts/Roddenberry-bold-italic.otf");
    font-style: lighter;
    font-weight: bold;
}

 h1 {
  /*  padding-top: 10vh; */
     text-align: center;
     font-family: Roddenberry;
     font-weight: bold !important;
     text-transform: uppercase;
     font-size: clamp(3.5rem, 7vw, 80vh) !important;
 }

 h2 {
     text-align: center;
     font-family: Roddenberry;
     font-weight: bold !important;
     text-transform: uppercase;
     text-shadow: 0 0 30px #000,0 0 30px #000,0 0 30px #000;
 }

 h3 {
     text-align: center;
     font-family: Roddenberry;
     font-weight: bold !important;
     text-transform: uppercase;


 }

 h4 {
     text-align: center;
     font-family: Roddenberry;
     font-weight: bold !important;
     text-transform: uppercase;

 }

 h5 {
     text-align: center;
     font-family: Roddenberry;
     font-weight: bold !important;
     text-transform: uppercase;

 }

 h6 {
     text-align: center;
     font-family: Roddenberry;
     font-weight: bold !important;
     text-transform: uppercase;

 }

 p, body, a {
     font-family: Roddenberry;
     text-transform: uppercase;
     font-weight: bold;
     font-size: clamp(2.5rem, 1vw, 40vh) !important;
     margin: auto;
 }
 p {
    max-width: 80vw;
 }

 .divisonoverview{
    max-width: 60vw;
    justify-content: center;
    display: grid;
    margin: auto;

 }
.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(50%) sepia(9%) saturate(130%) hue-rotate(314deg) brightness(90%) contrast(92%);
}
 #engineering-page {
    background-color: #E9A561;
 }
 #command-page {
    background-color: #CA153D;
 }
 #science-page {
    background-color: #7692C6 ;
 }
 #medical-page {
    background-color: #F2C9D7 ;
 }
 #divisionsauswahl {
    background-color: rgb(238, 229, 229);
 }

 * {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }